body{
    background-image: url(https://i.pinimg.com/736x/94/c9/8f/94c98f52049e28da8faeef334ad04dd7.jpg);
}
.heading{
    text-align:center;
    color: maroon;
    font-weight: bolder;
    font-size: x-large;
}
.navbar{
    text-decoration: none;
    justify-content:space-between;
    display: flex;
    background-color: rgb(3, 3, 3);
    padding:15px;
    gap:20px; 
}
.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
    padding: 10px,15px;
    transition: 0.3s;
}
.navbar a:hover{
    background-color: rgb(167, 162, 162);
    border-bottom: 1px  orangered;
}
img{
    display: inline;
    width: 300px;
    height:300px;
    
}
h2{
    font-size: larger;
}
.p{
    font-size: larger;
}
.h2{
    font-weight: 600;text-align: center;
}
ul{
    font-size: larger;
    color:rgb(202, 25, 25);
}
label{
    font-weight: 300;
}
button{
    background-color: grey;
    font-weight: 200;
    color: black;
}
button:hover{
    background-color: rgb(253, 252, 252);
    border: 1px color(orangered);
}